.menu_container {
  border: $secondary 2px solid;
  position: fixed;
  width: 260px;
  z-index: 600;
  bottom: 65px;
  right: 45px;
  padding: 0 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  user-select: none;
}
