$primary: #263E67;
$secondary: #FFCE75;
$info: #8D918D;
$neutral: #F5F5F5;
$error: #DC3545;
$success: #198754;
$white: #FFFFFF;
$black: #000000;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$size-regular: 14px;
$size-medium: 22px;
$size-large: 48px;
