$primary: #263e67;
$secondary: #ffce75;
$info: #8d918d;
$neutral: #f5f5f5;
$error: #dc3545;
$success: #198754;
$white: #ffffff;
$black: #000000;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$size-regular: 14px;
$size-medium: 22px;
$size-large: 48px;
